<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>99 Miles to Empty: Complete your registration!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div style="font-size: 22px;margin-bottom: 20px">
    <p>Hello ${firstName},</p>
    <p>You're registration is almost complete. Please confirm the email address you used for your registration
        by visiting us at:</p>
    <p><a href="https://99milestoempty.com/verify/${registrationToken}">https://99milestoempty.com/verify/${registrationToken}</a>
    </p>
    <p>Please note, this URL will expire within 30 minutes.</p>
    <p>If you have received this email in error, it is safe to ignore.</p>
    <p>Sincerely,</p>
    <p>The 99 Miles to Empty Team</p>
    <p><a href="https://99milestoempty.com">https://99milestoempty.com</a></p>
</div>
</body>
</html>