<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>99 Miles to Empty: Multi-factor authentication enabled</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div style="font-size: 22px;margin-bottom: 20px">
    <p>Hello ${firstName},</p>
    <p>Thank you for taking the extra step in securing your account by enabling multi-factor authentication.</p>
    <p>Sincerely,</p>
    <p>The 99 Miles to Empty Team</p>
    <p><a href="https://99milestoempty.com">https://99milestoempty.com</a></p>
</div>
<div>
</div>
<div style="font-size: 18px;margin-top: 10px">PS: If you didn't enable multi-factor authentication, please contact us at
    <a
            href="mailto:support@99milestoempty.com">support@99milestoempty.com</a></div>

</body>
</html>
